<?xml version="1.0" encoding="UTF-8"?>
<Context path="/apps">
	<Resource 
		name="im_ws"
		auth="Container"
		type="javax.sql.DataSource"
		maxActive="8"
		maxIdle="50"
		maxWait="10000"
		username="${jdbc.username}"
		password="${jdbc.password}"
		driverClassName="${jdbc.driverClassName}"
		validationQuery="SELECT 1"
		removeAbandoned="true"
		removeAbandonedTimeout="60"
		testOnBorrow="true"
		url="${jdbc.url}"/>
		<!-- select * from Utilisateur LIMIT 1 -->
</Context>