<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  					  http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="transactionFactory" class="org.mybatis.spring.transaction.SpringManagedTransactionFactory" />

	<bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionFactory" ref="transactionFactory" />
	</bean>

	<bean id="mySqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"
		destroy-method="clearCache">
		<constructor-arg ref="mySqlSessionFactory" />
		<constructor-arg value="SIMPLE" />
	</bean>

	<bean id="mySqlSessionTemplateBatch" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
		<constructor-arg ref="mySqlSessionFactory" />
		<constructor-arg value="BATCH" />
	</bean>

	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.syscom.apps.dao" />
		<!-- optional unless there are multiple session factories defined -->
		<!-- <property name="sqlSessionFactoryBeanName" value="mySqlSessionFactory" 
			/> -->
		<property name="sqlSessionTemplateBeanName" value="mySqlSessionTemplate" />
	</bean>

</beans>