<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/tx 
		        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		        http://www.springframework.org/schema/context 
		        http://www.springframework.org/schema/context/spring-context-4.0.xsd
		        http://mybatis.org/schema/mybatis-spring 
		        http://mybatis.org/schema/mybatis-spring.xsd">

	<bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:apps-config.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<!-- Import MyBatis Configuration-->
	<import resource="classpath:mybatisConfiguration.xml" />
	
	<!-- Package where Spring's annotations are used -->
	<context:annotation-config />
	<context:component-scan base-package="com.syscom.apps" />
	
	<!-- Resource bundles -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:com/syscom/apps/business/service/appsBusinessResources" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>


	<!-- Data Source Declaration -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/im_ws" />
	</bean>


	<!-- Mail Sender -->
	<!-- <bean id="mailSession" class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName" value="java:comp/env/im_mailSource" /> </bean> 
		<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"> 
		<property name="session" ref="mailSession" /> </bean> -->
</beans>