<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/syscom/apps/dao/CustomerDao.xml"/>
        <mapper resource="com/syscom/apps/dao/LogAPIDao.xml"/>
        <mapper resource="com/syscom/apps/dao/TokenDao.xml"/>
        <mapper resource="com/syscom/apps/dao/RoleDao.xml"/>
        <mapper resource="com/syscom/apps/dao/AdvertDao.xml"/>
    </mappers>
</configuration>